@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    /* padding and border are included in specified height and width */
    box-sizing: border-box;

}

body {
    /* vh is viewport height */
    height: 100vh; 
    margin: 0;
    font-family: 'Lato', sans-serif;
    background-image: linear-gradient(0deg, rgb(247,247,247) 35%, rgb(252,221,221) 89%);
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.music-container {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 20px 20px 0 rgba(252,169,169, 0.9);
    display: flex; 
    padding: 20px 30px;
    /* info will be absolute relative to this */
    position: relative; 
    margin: 100px 0;
    /* higher index, will be in front */
    z-index: 10;
}

/* .img-container::after {
    content: '';
    background-color: black;
    height: 10px;
    width: 10px;
    position: absolute;
    left: 50%;
    bottom: 100%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
} */

.img-container {
    position: relative; 
    width: 150px;

}

.img-container img {
    width: inherit;
    height: 150px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    animation: rotate 4s linear infinite;
    animation-play-state: paused;
    
}

/* when we add play class, it will start running  */
.music-container.play .img-container img {
    animation-play-state: running;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.action-btn {
    background-color: white;
    border: 0;
    color: #bfdbdf;
    font-size: 20px;
    /* adds a cursor over it */
    cursor: pointer;
    padding: 10px;
    margin: 0 20px;
}

.action-btn-big {
    color: #cdc2d0;
    font-size: 30px;
}

.music-info {
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 15px 15px 0 0;
    position: absolute;
    top: 0;
    left: 20px;
    padding: 10px 10px 10px 170px;
    width: calc(100% - 40px);
    opacity: 0;
    transform: translateY(0%);
    transition: transform 1s ease-in, opacity 0.3s ease-in;
}

.music-info h4 {
    margin: 0;

}

.music-container.play .music-info {
    opacity: 1;
    transform: translateY(-100%);

}

.progress-container {
    background: white;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    height: 4px;
    width: 100%;
}

.progress {
    background-color: #fe8daa;
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
}
